<h1>
  <%= @movie.title %>
  <small>
    <%= link_to "Edit This Movie", edit_movie_path(@movie.id) %>
    <%= link_to "Delete This Movie", movie_path(@movie.id), :method => :delete %>
  </small>
</h1>

<div class="details">

  <p><%= image_tag @movie.image_url, class: 'pull-right' %></p>

  <p><strong>Directed By: </strong>
    <%= link_to @movie.director.name, "/directors/#{@movie.director.id}" %>
  </p>

  <p><strong>Released:</strong> <%= @movie.year %></p>
  <p><strong>Plot:</strong> <%= @movie.plot %></p>


  <p><strong>Actors: </strong></p>

  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= link_to actor.name, "/actors/#{actor.id}" %></li>
    <% end %>
  </ul>

  <h3>Add a Review</h3>

  <%= form_tag "/reviews", :method => :post do %>
    <%= label_tag :body, "What did you think?" %>
    <!-- <input type="hidden" name="movie_id" value="<%= @movie.id %>"> -->
    <%= hidden_field_tag :movie_id, @movie.id %>
    
    <br>
    <%= text_area_tag :body, '', rows: 4, cols: 50 %>
    <br>
    <%= submit_tag "Add Review" %>
  <% end %>

  <h3>Reviews</h3>

  <p><strong>Jeff said:</strong>
    A pretty cool movie if you like boring nonsense.  The cinematography looked
    like a child made it, and the acting was amatuerish.  Other than, it was
    great!
  </p>

  <p><strong>Borja said:</strong>
    A great example of computer science and society at large!
  </p>

  <p><strong>Neil said:</strong>
    Gravitons, photons, and neutrons, oh my!  Putting aside the obvious problems
    with the scientific basis of the fiction in this movie, it wasn't too bad.
  </p>
</div>
